<div class="card">
      <h1 class="title">{{}}</h1>
      <div class="info">
            <ul class="base-info">
                  <li class="data-title">Capital:{{}}</li>
                  <li class="data-title">Population{{}}</li>
                  <li>
                        <h2 class="data-title">Languages:{{}}</h2>
                        <ul class="languages-list">
                              <li>{{}}</li>
                              <li>{{}}</li>
                              <li>{{}}</li>
                        </ul>
                  </li>
            </ul>

            <img src="{{}}" alt="{{}}">
      </div>
</div>